{%- extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - Sandbox{% else %}Sandbox{% endif %}
{% endblock %}

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-left"><img src="{{ url_for('static', filename='img/logo.jpg') }}" style="height: 50px; margin: 0 30px">  </a>
                <a class="navbar-brand">Sandbox</a>
            </div>
            <div class="nav navbar-nav navbar-right form-group navbar-form">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sandModal">Add Sand</button>
            </div>
        </div>
    </nav>  
{% endblock %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
      {%- if messages %}
        <div class="row">
          <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
          </div>
        </div>
      {%- endif %}
  {%- endwith %}
  {% block app_content %}{% endblock %}
{%- endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}