<!-- following tutorial https://pythonise.com/feed/flask/flask-and-fetch-api -->

{% extends "base.html" %}

{% block app_content %}
    <!-- SAND -->
    <div class="sandbox">
    {% for sand in sandbox %}
        {% include 'sand.html' %}
    {% endfor %}
    </div>
    <!-- ADD SAND -->
    <div class="modal fade" id="sandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Add Sand</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title Goes Here">
                </div>

                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" id="message" cols="30" rows="3" placeholder="Message Goes Here"></textarea>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="submit_message();" data-dismiss="modal">Add Sand</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function submit_message() {

            var title = document.getElementById("title");
            var message = document.getElementById("message");

            var entry = {
                title: title.value,
                message: message.value
            };
                    
            fetch(`${window.origin}/create-entry`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({"content-type": "application/json"})
            })
            .then(function (response) {
                if (response.status !== 200) {
                  console.log(`Looks like there was a problem. Status code: ${response.status}`);
                  return;
                }
                response.text().then(function (data) {
                  title.value = "";
                  message.value = "";
                  $( data ).appendTo( ".sandbox" );
                  console.log(data);
                });
            })
            .catch(function(error) {console.log("Fetch error: " + error);
            });   
        }   
    </script>

{% endblock %}