{% if reply %}<div style="padding: 0 10px 0 10px">{% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ sand.title}} (#{{ sand.id }})<a href="#" data-toggle="modal" data-target="#sandModal"><span class="glyphicon glyphicon-share-alt pull-right" aria-hidden="true"></span></a></div>
        <div class="panel-body">{{ sand.message }}</div>
        {% if sand.replies %}
            {% set reply = True %}
            {% for sand in sand.replies %}
                {% include 'sand.html' %} {# accepts sand object #}
            {% endfor %}
            {% set reply = False %}
        {% endif %}
    </div>
{% if reply %}</div>{% endif %}